:root {
  --color-lime-green: #31d35c;
  --color-dark-blue: #2d314d;
  --color-bright-cyan: #2bb7da;
  --color-Grayish-Blue: #ccc;
  --color-Light-Grayish-Blue: #f3f4f6;
  --color-light-grey: #fafafa;
  --color-white: #ffffff;
  --line: 1px solid var(--color-light-grey);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 84em) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 78em) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 70em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 62em) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 52em) {
  html {
    font-size: 43%;
  }
}

@media only screen and (max-width: 50em) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 46.875em) {
  html {
    font-size: 37%;
  }
}

@media only screen and (max-width: 39em) {
  html {
    font-size: 34%;
  }
}

@media only screen and (max-width: 33.75em) {
  html {
    font-size: 32%;
  }
}

@media only screen and (max-width: 29em) {
  html {
    font-size: 29%;
  }
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--color-light-grey);
  min-height: 100vh;
}

.body-container {
  overflow: hidden;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-height: 65rem;
}

.header__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.header__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.advertising {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--color-Light-Grayish-Blue);
}

.advertising__textbox {
  margin: 5rem 15.5rem;
  margin-top: 7rem;
  width: 44rem;
}

@media only screen and (max-width: 84em) {
  .advertising__textbox {
    margin: 5rem 13.5rem;
  }
}

@media only screen and (max-width: 62em) {
  .advertising__textbox {
    margin: 5rem 13.5rem;
  }
}

@media only screen and (max-width: 52em) {
  .advertising__textbox {
    margin: 5rem 9rem;
  }
}

@media only screen and (max-width: 46.875em) {
  .advertising__textbox {
    margin: 5rem 7rem;
  }
}

@media only screen and (max-width: 39em) {
  .advertising__textbox {
    margin: 5rem 5rem;
  }
}

@media only screen and (max-width: 33.75em) {
  .advertising__textbox {
    margin: 5rem 3.5rem;
  }
}

@media only screen and (max-width: 29em) {
  .advertising__textbox {
    margin: 5rem 2rem;
  }
}

.advertising__content {
  margin: 0 15.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 84em) {
  .advertising__content {
    margin: 5rem 13.5rem;
  }
}

@media only screen and (max-width: 62em) {
  .advertising__content {
    margin: 5rem 13.5rem;
  }
}

@media only screen and (max-width: 52em) {
  .advertising__content {
    margin: 5rem 9rem;
  }
}

@media only screen and (max-width: 46.875em) {
  .advertising__content {
    margin: 5rem 7rem;
  }
}

@media only screen and (max-width: 39em) {
  .advertising__content {
    margin: 5rem 5rem;
  }
}

@media only screen and (max-width: 33.75em) {
  .advertising__content {
    margin: 5rem 3.5rem;
  }
}

@media only screen and (max-width: 29em) {
  .advertising__content {
    margin: 5rem 2rem;
  }
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 160rem;
  padding: 5rem 0rem 5rem 15rem;
}

@media only screen and (max-width: 84em) {
  .articles {
    padding: 5rem 0rem 5rem 13.5rem;
  }
}

@media only screen and (max-width: 62em) {
  .articles {
    padding: 5rem 0rem 5rem 13.5rem;
  }
}

@media only screen and (max-width: 52em) {
  .articles {
    padding: 5rem 0rem 5rem 9rem;
  }
}

@media only screen and (max-width: 46.875em) {
  .articles {
    padding: 5rem 0rem 5rem 7rem;
  }
}

@media only screen and (max-width: 39em) {
  .articles {
    padding: 5rem 0rem 5rem 5rem;
  }
}

@media only screen and (max-width: 33.75em) {
  .articles {
    padding: 5rem 0rem 5rem 3.5rem;
  }
}

@media only screen and (max-width: 29em) {
  .articles {
    padding: 5rem 0rem 5rem 2rem;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--color-dark-blue);
  min-height: 14rem;
  max-height: 14rem;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-white);
  position: relative;
  z-index: 11;
}

.main-nav__brand {
  height: 1.7rem;
}

.main-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 29em) {
  .main-nav__links {
    margin-right: 20rem;
  }
}

.main-nav__links--link {
  text-decoration: none;
  margin: 0 1.2rem;
  font-size: 1.3rem;
  color: #7c7c7c;
}

@media only screen and (max-width: 29em) {
  .main-nav__links--link {
    margin: 0 2rem;
  }
}

.main-nav__links--link:hover {
  margin-top: 2.5rem;
  padding-bottom: 2.7rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #616161;
  border-bottom: solid 3px var(--color-lime-green);
}

.main-nav__btn {
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
  border-radius: 100px;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-lime-green)), to(var(--color-bright-cyan)));
  background-image: linear-gradient(to right, var(--color-lime-green), var(--color-bright-cyan));
  cursor: pointer;
  position: relative;
  color: #fff;
  padding: 1.1rem 3rem;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main-nav__btn:hover {
  opacity: 0.7;
  margin-bottom: 3px;
}

@media only screen and (max-width: 29em) {
  .main-nav__btn {
    display: none;
  }
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: 6rem;
  bottom: 5rem;
}

.header__box-text {
  height: 10rem;
  width: 30rem;
}

.header__box-text-title {
  font-size: 3.8rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.header__box-text-paragraph {
  font-size: 1.2rem;
  color: #7c7c7c;
  line-height: 1.5;
}

.header__box--btn {
  margin-top: 2.5rem;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
  border-radius: 100px;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-lime-green)), to(var(--color-bright-cyan)));
  background-image: linear-gradient(to right, var(--color-lime-green), var(--color-bright-cyan));
  cursor: pointer;
  position: relative;
  color: #fff;
  padding: 1.1rem 3rem;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__box--btn:hover {
  opacity: 0.7;
  margin-top: 2.1rem;
}

.header__img {
  position: relative;
  text-align: left;
}

.header__img--foreground {
  position: absolute;
  left: 12rem;
  top: -12.5rem;
  width: 76.7rem;
  height: 93rem;
}

@media only screen and (max-width: 84em) {
  .header__img--foreground {
    width: 75rem;
    height: 90rem;
    left: 9rem;
  }
}

@media only screen and (max-width: 78em) {
  .header__img--foreground {
    width: 70rem;
  }
}

@media only screen and (max-width: 70em) {
  .header__img--foreground {
    left: 10rem;
  }
}

@media only screen and (max-width: 62em) {
  .header__img--foreground {
    left: 5rem;
  }
}

@media only screen and (max-width: 52em) {
  .header__img--foreground {
    width: 67rem;
    height: 88rem;
    left: 3rem;
  }
}

@media only screen and (max-width: 50em) {
  .header__img--foreground {
    width: 67rem;
    height: 88rem;
    left: 5rem;
  }
}

@media only screen and (max-width: 39em) {
  .header__img--foreground {
    left: -1rem;
  }
}

@media only screen and (max-width: 33.75em) {
  .header__img--foreground {
    width: 65rem;
    left: -1rem;
  }
}

@media only screen and (max-width: 29em) {
  .header__img--foreground {
    left: -5rem;
  }
}

.header__img--background {
  position: relative;
  bottom: 26rem;
  right: 9rem;
  z-index: -2;
  width: 127.1rem;
  height: 103.4rem;
}

@media only screen and (max-width: 33.75em) {
  .header__img--background {
    right: 12rem;
  }
}

p {
  font-size: 1.2rem;
  color: #7c7c7c;
  line-height: 1.7;
}

.advertising__textbox--title {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.advertising__content--box {
  width: 29rem;
  padding-bottom: 7rem;
}

@media only screen and (max-width: 46.875em) {
  .advertising__content--box {
    width: 20rem;
  }
}

@media only screen and (max-width: 33.75em) {
  .advertising__content--box {
    width: 18.5rem;
  }
}

@media only screen and (max-width: 29em) {
  .advertising__content--box {
    width: 18rem;
  }
}

.advertising__content--box:not(:last-child) {
  margin-right: 3rem;
}

.advertising__content--box__title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 46.875em) {
  .advertising__content--box__title {
    font-size: 1.8rem;
  }
}

.advertising__content--box__paragraph {
  font-size: 1.35rem;
  width: 22.3rem;
}

@media only screen and (max-width: 46.875em) {
  .advertising__content--box__paragraph {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 29em) {
  .advertising__content--box__paragraph {
    width: 18rem;
  }
}

.advertising__content--box__image {
  margin-bottom: 2.5rem;
}

.articles__container--title {
  font-weight: 400;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.articles__container--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles__container--box__content {
  background-color: var(--color-white);
  width: 27rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 84em) {
  .articles__container--box__content {
    width: 25rem;
  }
}

@media only screen and (max-width: 78em) {
  .articles__container--box__content {
    width: 24rem;
  }
}

@media only screen and (max-width: 70em) {
  .articles__container--box__content {
    width: 24rem;
  }
}

@media only screen and (max-width: 62em) {
  .articles__container--box__content {
    width: 22rem;
  }
}

@media only screen and (max-width: 50em) {
  .articles__container--box__content {
    width: 21.5rem;
  }
}

@media only screen and (max-width: 46.875em) {
  .articles__container--box__content {
    width: 21rem;
  }
}

@media only screen and (max-width: 39em) {
  .articles__container--box__content {
    width: 20rem;
  }
}

@media only screen and (max-width: 33.75em) {
  .articles__container--box__content {
    width: 18rem;
  }
}

@media only screen and (max-width: 29em) {
  .articles__container--box__content {
    height: 35.2rem;
  }
}

.articles__container--box__content:not(:last-child) {
  margin-right: 4rem;
}

.articles__container--box__content--img {
  height: 18rem;
}

.articles__container--box__content--writer {
  margin: 2rem 0rem 1rem 2rem;
  color: #7c7c7c;
}

.articles__container--box__content--title {
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.articles__container--box__content--title:hover {
  color: var(--color-lime-green);
  position: relative;
  bottom: 3px;
}

@media only screen and (max-width: 29em) {
  .articles__container--box__content--title {
    font-size: 1.2rem;
  }
}

.articles__container--box__content--summary {
  margin-left: 2rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 29em) {
  .articles__container--box__content--summary {
    font-size: 0.55rem;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #7c7c7c;
}

.footer-container__socials-box {
  margin-left: -5rem;
}

.footer-container__socials-box--logo {
  display: block;
  margin: 4rem 0 3rem 0;
  width: 13.9rem;
  height: 2rem;
}

.footer-container__socials-box--icon:not(:last-child) {
  margin-right: 1rem;
}

.footer-container__socials-box--icon:hover {
  fill: var(--color-lime-green);
}

.footer-container__list {
  margin-top: 4rem;
}

.footer-container__list:not(:first-child) {
  margin-left: -25rem;
}

@media only screen and (max-width: 39em) {
  .footer-container__list:not(:first-child) {
    margin-left: -10rem;
  }
}

.footer-container__list-item {
  font-size: 1.3rem;
}

.footer-container__list-item:not(:last-child) {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.footer-container__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
}

.footer-container__button-box--btn {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 8.74rem;
  height: auto;
  cursor: pointer;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
  border-radius: 100px;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-lime-green)), to(var(--color-bright-cyan)));
  background-image: linear-gradient(to right, var(--color-lime-green), var(--color-bright-cyan));
  color: #fff;
  padding: 1.1rem 3rem;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer-container__button-box--btn:hover {
  opacity: 0.7;
  position: relative;
  bottom: 3px;
}

.footer-container__button-box--text {
  color: grey;
}

.footer-links {
  color: #d4d4d4;
}

.footer-links:hover {
  color: #27a84a;
}

.social-icon {
  width: 2rem;
  height: 2rem;
}
/*# sourceMappingURL=main.css.map */